<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weight Tracker</title>

</head>

<body>
	<div id="mainpage">
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Weight Tracker</a>
			<input class="form-control form-control-dark w-100" type="text" placeholder="New entry" aria-label="Search" v-on:keyup.enter="postNewValue" v-model="newEntryValue">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="#" v-on:click="postNewValue">Save</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<span data-feather="home"></span>
									Dashboard <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="file"></span>
									Finances
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Dashboard</h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="dropdown show">
								<a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
									id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span data-feather="calendar"></span> Currently showing {{mode}}
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" v-on:click="setChartMonth" href="#">This Month</a>
									<a class="dropdown-item" v-on:click="setChartYear" href="#">This Year</a>
									<a class="dropdown-item" v-on:click="setChartAll" href="#">All Time</a>
								</div>
							</div>
						</div>
					</div>

					<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

					<h2>Raw Data</h2>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Date</th>
									<th>Weight (KG)</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="entry in historic">
									<td>{{entry.x}}</td>
									<td>{{entry.y}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</main>
			</div>
		</div>
	</div>
	<script src="main.js"></script>
</body>
<html>